<html>
	<body>
		<h2>This will be interesting</h2>
	</body>
	<p>Click below to get some free knowledge courtesty of Kanye West</p>
	<a href="http://localhost:5678/quotes">Let's get some knowledge</a>

</html>
